@{
    ViewBag.Title = "Home Page";
}

<style>
    .bakcimg {
        background-image: url(/imgfile//Background.jpg);
        width:70%;
        height:70%;
    }
</style>
<div align="center" style="height:720px">
    <div class="bakcimg">
 



        <div class="row">
             <div class="col-md-4">
                <h2 style="color:white">Hello, dear guest</h2>
                <p style="color:white">
                    Here you can find the best and the most affordable hotel in our lovely country.
                    You can spend ten days in our resort.
                    Every day you can find new thing to joy.
                </p>
            </div>
            <div class="col-md-4">
                <h2 style="color:white">Entertaiments</h2>
                <p style="color:white">
                    Lorem ipsum dolor sit amet, ex pri novum officiis, ne viris repudiare est, quem posse nihil pri ei.
                    Diceret necessitatibus ex cum, no oportere patrioque per. 
                    Ei ridens constituam vel, vocent ornatus consulatu pro ut. 
                    Essent petentium deterruisset in his. Ei per omnis posse augue, no deleniti quaerendum mei. 
                </p>
            </div>
            <div class="col-md-4">
                <h2 style="color:white">Other</h2>
                <p style="color:white">
                    Lorem ipsum dolor sit amet, ex pri novum officiis, ne viris repudiare est, quem posse nihil pri ei.
                    Diceret necessitatibus ex cum, no oportere patrioque per. Ei ridens constituam vel, vocent ornatus consulatu pro ut.
                    Essent petentium deterruisset in his. Ei per omnis posse augue, no deleniti quaerendum mei. 
                    Id erant iuvaret mediocrem pri, aperiam placerat no usu, pro facilisis gubergren appellantur cu.
                </p>
            </div>
        </div>
    </div>
</div>